.modelbutt{
  width: 95.5%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
h1{
    color: white;
}
h3{
  color: #fcfcfc;
}
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
   -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
} 
 .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
} 
.ModalBody{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
#backgroundImage {
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    min-height: calc(100vh - 60px);    
}
#openingText {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#bucketCard{
 
  margin: 5px;
  background-color:  #fcfcfc;
  padding-bottom: 0px;
}

#jumbo{
  background-color: #034f84;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#cardSpacing{
  padding-left: 30px;
}
