#root{
    /* background-color: #060E16; */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2182&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    min-height: calc(100vh - 60px); 
}